.card
{
    padding: 30px;
    border: black;
    border-style: dashed;
}

.wrapper
{
    padding:100px;
}

.title
{
    text-align: center;
}

.ranged-input
{
    font-size: calc(6px + 2vmin)
}

.format
{
    font-size: calc(6px + 2vmin);
    font-style: italic;
}

.format:not(#release_date_format):not(#liked_date_format)
{
    display:none;
}

.playlistcreator {
    background-color: #282c34;
    min-height: 100vh;
    /* display: flex;  */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* color: rgb(5, 119, 39); */
  }

  .submit-message
  {
      font-style: italic;
      color: red;

  }